#menu a{
    margin-top: 100px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    background-color: #dbd9d9;
    padding: 5px;
}
#menu a:hover {
    background-color: rgb(141, 216, 219);
    transition: background-color 2s;
}

#menu ul {
    list-style: none;
    display: flex;
    margin-right: 150px;
}



#menu a {
    text-decoration: none;
    color: #646363;
    font-weight: bold;
 }
 

body {
    font-family: arial, sans-serif;
    background-color: rgb(162, 225, 248);
    color: rgba(53, 44, 44, 1)
}

div#interface {
    width: 900px;
    margin: 80px auto 10px auto;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    padding: 20px;

}


#icone {

    margin: 20px;
    position: absolute;
    left: 990px;
    top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}
header#cabecalho h1 {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
header#cabecalho h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}


section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 25px;
}

article#noticia1 h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px;
}

aside#img1 {
    display: block;
    margin-right: 0px;
    margin-top: 150px;
    float: right;
    background-color: #dff4fa;
    padding: 1px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}


aside#img2 {
    display: block;
    margin-right: 0px;
    margin-top: 250px;
    float: right;
    background-color: #dff4fa;
    padding: 1px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

aside#img3 {
    display: block;
    margin-right: 0px;
    margin-top: 250px;
    float: right;
    background-color: #dff4fa;
    padding: 1px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

footer#rodape {
    clear: both;
    border-top: 2px solid #606060;
}

footer#rodape p {
    text-align: center;
}

/* pgTurismo CSS*/


section#corpo2 {
    width: 800px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 25px;
}